@tailwind base;
@tailwind components;
@tailwind utilities;
/* Variable */
:root {
  --container-width: 1300px;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.animation-zoom-out {
  animation: zoom-out 0.3s ease;
}
@keyframes zoom-out {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}